In [ ]:
# 612 advanced gis
# october 2nd
# Dual language program  in public schools,  and languages spoken  at home in NYC

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# reading first dataset
# list of nyc public school with dual lenguage programs 

schools_list_path = "/Users/aliceviggiani/Dropbox/1 estudos/5 data viz/0 master/pratt/3-2025-fall/612-advanced_gis/lab1-geoprocessing/1-received/schools/bilingual-program-list.csv"
df_schools = pd.read_csv(schools_list_path)

df_schools

,Borough,District,School,School Name,School Category,Program,Language,Language (Translated),General/Special Education,Special Education Model,School Address
0,Manhattan,2,02M347,The 47 American Sign Language & English Lower ...,K-8,Dual Language,(American) Sign Language,(American) Sign Language,Special Education,ICT,"223 EAST 23 STREET, MANHATTAN, NY, 10010"
1,Brooklyn,20,20K030,P.S./I.S. 30 Mary White Ovington,K-8,Dual Language,Arabic,العربية,General Education,Not Applicable,"7002 4TH AVENUE, BROOKLYN, NY, 11209"
2,Brooklyn,20,20K445,New Utrecht High School,High school,Transitional Bilingual Education,Arabic,العربية,General Education,Not Applicable,"1601 80 STREET, BROOKLYN, NY, 11214"
3,Bronx,11,11X127,J.H.S. 127 The Castle Hill,Junior High-Intermediate-Middle,Transitional Bilingual Education,Bengali,বাংলা,General Education,Not Applicable,"1551 CASTLE HILL AVENUE, BRONX, NY, 10462"
4,Brooklyn,19,19K159,P.S. 159 Isaac Pitkin,Elementary,Transitional Bilingual Education,Bengali,বাংলা,General Education,Not Applicable,"2781 PITKIN AVENUE, BROOKLYN, NY, 11208"
...,...,...,...,...,...,...,...,...,...,...,...
561,Queens,79,79Q950,Pathways to Graduation,High school,Transitional Bilingual Education,Spanish,Español,General Education,Not Applicable,"90-01 SUTPHIN BOULEVARD, QUEENS, NY, 11435"
562,Brooklyn,14,14K071,Juan Morel Campos Secondary School,Secondary School,Transitional Bilingual Education,Yiddish,יידיש,Special Education,12:1:1,"215 HEYWARD STREET, BROOKLYN, NY, 11206"
563,Brooklyn,14,14K380,P.S. 380 John Wayne Elementary,Elementary,Transitional Bilingual Education,Yiddish,יידיש,Special Education,12:1:1,"370 MARCY AVENUE, BROOKLYN, NY, 11206"
564,Brooklyn,75,75K370,P.S. 370,K-12 all grades,Transitional Bilingual Education,Yiddish,יידיש,Special Education,12:1:1,"3000 WEST 1 STREET, BROOKLYN, NY, 11224"
565,Brooklyn,75,75K721,P.S. K721 - Brooklyn Occupational Training Center,K-12 all grades,Transitional Bilingual Education,Yiddish,יידיש,Special Education,6:1:1,"64 AVENUE X, BROOKLYN, NY, 11223"

In [3]:
# spliting the school addresses in more than one variable, so the ArcGIS Pro can find more precise localizations

df_schools[["Address", "Borough_check", "State", "Zipcode"]] = (
    df_schools["School Address"].str.split(",", expand=True).apply(
        lambda x: x.str.strip()
    )
)

df_schools

,Borough,District,School,School Name,School Category,Program,Language,Language (Translated),General/Special Education,Special Education Model,School Address,Address,Borough_check,State,Zipcode
0,Manhattan,2,02M347,The 47 American Sign Language & English Lower ...,K-8,Dual Language,(American) Sign Language,(American) Sign Language,Special Education,ICT,"223 EAST 23 STREET, MANHATTAN, NY, 10010",223 EAST 23 STREET,MANHATTAN,NY,10010
1,Brooklyn,20,20K030,P.S./I.S. 30 Mary White Ovington,K-8,Dual Language,Arabic,العربية,General Education,Not Applicable,"7002 4TH AVENUE, BROOKLYN, NY, 11209",7002 4TH AVENUE,BROOKLYN,NY,11209
2,Brooklyn,20,20K445,New Utrecht High School,High school,Transitional Bilingual Education,Arabic,العربية,General Education,Not Applicable,"1601 80 STREET, BROOKLYN, NY, 11214",1601 80 STREET,BROOKLYN,NY,11214
3,Bronx,11,11X127,J.H.S. 127 The Castle Hill,Junior High-Intermediate-Middle,Transitional Bilingual Education,Bengali,বাংলা,General Education,Not Applicable,"1551 CASTLE HILL AVENUE, BRONX, NY, 10462",1551 CASTLE HILL AVENUE,BRONX,NY,10462
4,Brooklyn,19,19K159,P.S. 159 Isaac Pitkin,Elementary,Transitional Bilingual Education,Bengali,বাংলা,General Education,Not Applicable,"2781 PITKIN AVENUE, BROOKLYN, NY, 11208",2781 PITKIN AVENUE,BROOKLYN,NY,11208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,Queens,79,79Q950,Pathways to Graduation,High school,Transitional Bilingual Education,Spanish,Español,General Education,Not Applicable,"90-01 SUTPHIN BOULEVARD, QUEENS, NY, 11435",90-01 SUTPHIN BOULEVARD,QUEENS,NY,11435
562,Brooklyn,14,14K071,Juan Morel Campos Secondary School,Secondary School,Transitional Bilingual Education,Yiddish,יידיש,Special Education,12:1:1,"215 HEYWARD STREET, BROOKLYN, NY, 11206",215 HEYWARD STREET,BROOKLYN,NY,11206
563,Brooklyn,14,14K380,P.S. 380 John Wayne Elementary,Elementary,Transitional Bilingual Education,Yiddish,יידיש,Special Education,12:1:1,"370 MARCY AVENUE, BROOKLYN, NY, 11206",370 MARCY AVENUE,BROOKLYN,NY,11206
564,Brooklyn,75,75K370,P.S. 370,K-12 all grades,Transitional Bilingual Education,Yiddish,יידיש,Special Education,12:1:1,"3000 WEST 1 STREET, BROOKLYN, NY, 11224",3000 WEST 1 STREET,BROOKLYN,NY,11224
565,Brooklyn,75,75K721,P.S. K721 - Brooklyn Occupational Training Center,K-12 all grades,Transitional Bilingual Education,Yiddish,יידיש,Special Education,6:1:1,"64 AVENUE X, BROOKLYN, NY, 11223",64 AVENUE X,BROOKLYN,NY,11223

In [ ]:
# comparing results with Borough variable to check accuracy

df_schools["Borough_check"] = df_schools["Borough_check"].str.title()

df_check = df_schools[df_schools["Borough"] != df_schools["Borough_check"]]
df_check

,Borough,District,School,School Name,School Category,Program,Language,Language (Translated),General/Special Education,Special Education Model,School Address,Address,Borough_check,State,Zipcode
136,Manhattan,4,04M505,Edward A. Reynolds West Side High School,High school,Dual Language,Spanish,Español,General Education,Not Applicable,"105 EAST 106 STREET, NEW YORK, NY, 10029",105 EAST 106 STREET,New York,NY,10029
492,Queens,30,30Q230,I.S. 230,Junior High-Intermediate-Middle,Transitional Bilingual Education,Spanish,Español,General Education,Not Applicable,"73-10 34 AVENUE, JACKSON HEIGHTS, NY, 11372",73-10 34 AVENUE,Jackson Heights,NY,11372

In [ ]:
# manually normalizing and grouping languages to harmonize with another dataset later

df_schools['Language'] = df_schools['Language'].replace(
    {
    'Haitian Creole': 'French',
    'Bengali': 'Indo-European',
    'Italian': 'Indo-European', 
    'Yiddish': 'Indo-European',
    'Polish': 'Slavic',
    'Russian': 'Slavic',
    '(American) Sign Language': 'Other'
    }
)

df_schools['Language'].unique()

array(['Other', 'Arabic', 'Indo-European', 'Chinese', 'French', 'Korean',
       'Slavic', 'Spanish'], dtype=object)

In [8]:
# downloading spreadsheet to use in ArcGIS Pro

df_schools.to_csv("bilingual-program-list-5.csv", index=False)

In [ ]:
# in ArcGIS Pro:

# add dataset created (bilingual-program-list-5.csv) 
# create points for each school using "Geocode Addresses"
# 560 Matched (98.94%), 0 Unmatched (0.00%), 6 Tied (1.06%)

# add spatial data of the school district's boundaries
# add map of languages spoken at home in the us by tract
# filter map to only nyc counties
# uniformize projections 
# execute spatial join between tracts data and school districts
# determine a school district for each tract
# create alias column names
# export spreadsheet to .csv (nyc_languages_tracts_3.csv)

In [ ]:
# back in Python:

# grouping the schools by language in each district
df_schools['schools_language'] = df_schools.groupby(['District', 'Language'])['School'].transform('count')
df_schools

# creating a new dataframe to organize data by school district
df_district = df_schools.groupby(['District', 'Language'])['School'].count().reset_index()
df_district.columns = ['district', 'language', 'school_sum']

df_district

    district       language  school_sum
0          1        Chinese           5
1          1        Spanish           2
2          2        Chinese           5
3          2          Other           1
4          2        Spanish           6
..       ...            ...         ...
60        32        Spanish          18
61        75        Chinese           3
62        75  Indo-European           2
63        75        Spanish          26
64        79        Spanish           2

[65 rows x 3 columns]

In [11]:
# pivot dataframe to create one observation by district

df_district_pivot = df_district.pivot(index='district', columns='language', values='school_sum')
df_district_pivot.columns = ['sch_' + col.lower().replace(' ', '_') for col in df_district_pivot.columns]

df_district_pivot = df_district_pivot.fillna(0).astype(int)
df_district_pivot = df_district_pivot.rename(columns={'sch_indo-european': 'sch_indo_european'})


df_district_pivot

,sch_arabic,sch_chinese,sch_french,sch_indo_european,sch_korean,sch_other,sch_slavic,sch_spanish
district,,,,,,,,
1,0,5,0,0,0,0,0,2
2,0,5,0,0,0,1,0,6
3,0,0,2,1,0,0,1,13
4,0,0,0,0,0,0,0,14
5,0,0,0,0,0,0,0,4
6,0,0,0,0,0,0,0,56
7,0,0,0,0,0,0,0,14
8,0,0,0,0,0,0,0,7
9,0,0,0,0,0,0,0,33
10,0,0,0,0,0,0,0,43
11,0,0,0,1,0,0,0,1
12,0,0,0,0,0,0,0,15
13,0,0,3,0,0,0,0,5
14,0,1,1,3,0,0,1,15
15,0,6,2,0,0,0,0,21
16,0,0,1,0,0,0,0,3
17,0,0,3,0,0,0,0,7
19,0,0,0,2,0,0,0,14
20,2,20,0,2,0,0,1,12
21,0,5,0,0,0,0,2,5
22,0,0,0,0,0,0,2,3
23,0,0,0,0,0,0,0,2
24,0,3,0,0,0,0,2,43
25,0,17,0,0,1,0,0,10
26,0,3,0,0,0,0,0,0
27,0,0,0,1,0,0,0,10
28,0,0,0,1,0,0,0,7
29,0,0,0,0,0,0,0,3
30,0,0,0,0,0,0,0,32
31,0,0,0,0,0,0,0,14
32,0,0,0,0,0,0,0,18
75,0,3,0,2,0,0,0,26
79,0,0,0,0,0,0,0,2

In [ ]:
# adding blank variables for future interaction with population dataset

df_district_pivot['sch_asian'] = 0
df_district_pivot['sch_unspecified'] = 0

df_district_pivot

,sch_arabic,sch_chinese,sch_french,sch_indo_european,sch_korean,sch_other,sch_slavic,sch_spanish,sch_asian,sch_unspecified
district,,,,,,,,,,
1,0,5,0,0,0,0,0,2,0,0
2,0,5,0,0,0,1,0,6,0,0
3,0,0,2,1,0,0,1,13,0,0
4,0,0,0,0,0,0,0,14,0,0
5,0,0,0,0,0,0,0,4,0,0
6,0,0,0,0,0,0,0,56,0,0
7,0,0,0,0,0,0,0,14,0,0
8,0,0,0,0,0,0,0,7,0,0
9,0,0,0,0,0,0,0,33,0,0
10,0,0,0,0,0,0,0,43,0,0
11,0,0,0,1,0,0,0,1,0,0
12,0,0,0,0,0,0,0,15,0,0
13,0,0,3,0,0,0,0,5,0,0
14,0,1,1,3,0,0,1,15,0,0
15,0,6,2,0,0,0,0,21,0,0
16,0,0,1,0,0,0,0,3,0,0
17,0,0,3,0,0,0,0,7,0,0
19,0,0,0,2,0,0,0,14,0,0
20,2,20,0,2,0,0,1,12,0,0
21,0,5,0,0,0,0,2,5,0,0
22,0,0,0,0,0,0,2,3,0,0
23,0,0,0,0,0,0,0,2,0,0
24,0,3,0,0,0,0,2,43,0,0
25,0,17,0,0,1,0,0,10,0,0
26,0,3,0,0,0,0,0,0,0,0
27,0,0,0,1,0,0,0,10,0,0
28,0,0,0,1,0,0,0,7,0,0
29,0,0,0,0,0,0,0,3,0,0
30,0,0,0,0,0,0,0,32,0,0
31,0,0,0,0,0,0,0,14,0,0
32,0,0,0,0,0,0,0,18,0,0
75,0,3,0,2,0,0,0,26,0,0
79,0,0,0,0,0,0,0,2,0,0

In [ ]:
# reading datasets about languages spoken at home in nyc created in ArcGIS Pro

languages_path = "/Users/aliceviggiani/Dropbox/1 estudos/5 data viz/0 master/pratt/3-2025-fall/612-advanced_gis/lab1-geoprocessing/3-produced/nyc_languages_tracts_3.csv"
df_languages = pd.read_csv(languages_path)

df_languages.columns.tolist()

['Name',
 'Join_Count',
 'TARGET_FID',
 'Geographic_Identifier___FIPS_Code',
 'Area_of_Land__Square_Meters_',
 'Area_of_Water__Square_Meters_',
 'State',
 'County',
 'total_pop',
 'Total_population_5_years_and_over___Margin_of_Error',
 'pop_eng_only',
 'Population_age_5__who_speaks_only_English___Margin_of_Error',
 'pop_spanish',
 'Population_age_5__who_speaks_Spanish_at_home___Margin_of_Error',
 'Population_age_5__who_speaks_Spanish_at_home_and_speaks_English_very_well',
 'Population_age_5__who_speaks_Spanish_at_home_and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_Spanish_at_home_and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_Spanish_at_home_and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_french',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home___Margin_of_Error',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home_and_speaks_English_very_well',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home_and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home_and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home_and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_german',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages___Margin_of_Error',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages_and_speaks_English_very_well',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages_and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages_and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages_and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_slavic',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages___Margin_of_Error',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages_and_speaks_English_very_well',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages_and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages_and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages_and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_indo_european',
 'Population_age_5__who_speaks_other_Indo_European_languages___Margin_of_Error',
 'Population_age_5__who_speaks_other_Indo_European_languages_and_speaks_English_very_well',
 'Population_age_5__who_speaks_other_Indo_European_languages_and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_other_Indo_European_languages_and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_other_Indo_European_languages_and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_korean',
 'Population_age_5__who_speaks_Korean___Margin_of_Error',
 'Population_age_5__who_speaks_Korean_and_speaks_English_very_well',
 'Population_age_5__who_speaks_Korean_and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_Korean_and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_Korean_and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_chinese',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese____Margin_of_Error',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese__and_speaks_English_very_well',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese__and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese__and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese__and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_vietnamese',
 'Population_age_5__who_speaks_Vietnamese___Margin_of_Error',
 'Population_age_5__who_speaks_Vietnamese_and_speaks_English_very_well',
 'Population_age_5__who_speaks_Vietnamese_and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_Vietnamese_and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_Vietnamese_and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_tagalog',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino____Margin_of_Error',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino__and_speaks_English_very_well',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino__and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino__and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino__and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_asian_others',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages___Margin_of_Error',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages_and_speaks_English_very_well',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages_and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages_and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages_and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_arabic',
 'Population_age_5__who_speaks_Arabic___Margin_of_Error',
 'Population_age_5__who_speaks_Arabic_and_speaks_English_very_well',
 'Population_age_5__who_speaks_Arabic_and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_Arabic_and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_Arabic_and_speaks_English_less_than_very_well___Margin_of_Error',
 'pop_unspecified',
 'Population_age_5__who_speaks_other_and_unspecified_languages___Margin_of_Error',
 'Population_age_5__who_speaks_other_and_unspecified_languages_and_speaks_English_very_well',
 'Population_age_5__who_speaks_other_and_unspecified_languages_and_speaks_English_very_well___Margin_of_Error',
 'Population_age_5__who_speaks_other_and_unspecified_languages_and_speaks_English_less_than_very_well',
 'Population_age_5__who_speaks_other_and_unspecified_languages_and_speaks_English_less_than_very_well___Margin_of_Error',
 'per_eng_only',
 'Percent_of_population_age_5__who_speaks_English_only___Margin_of_Error',
 'pop_eng_limited_ability',
 'Population_age_5___who_have_limited_English_ability___Margin_of_Error',
 'per_eng_limited_ability',
 'Percent_of_population_age_5___who_have_limited_English_ability___Margin_of_Error',
 'pop_bilingual_eng_another',
 'Population_age_5__who_are_bilingual_in_English_and_any_other_language___Margin_of_Error',
 'per_bilingual_eng_another',
 'Percent_of_population_age_5__who_are_bilingual_in_English_and_any_other_language___Margin_of_Error',
 'object_id',
 'Join_Count_1',
 'TARGET_FID_1',
 'Name_1',
 'geographic_identifier_FIPS',
 'area_land',
 'area_water',
 'State_1',
 'County_1',
 'Total_population_5_years_and_over',
 'Total_population_5_years_and_over___Margin_of_Error_1',
 'Population_age_5__who_speaks_only_English',
 'Population_age_5__who_speaks_only_English___Margin_of_Error_1',
 'Population_age_5__who_speaks_Spanish_at_home',
 'Population_age_5__who_speaks_Spanish_at_home___Margin_of_Error_1',
 'Population_age_5__who_speaks_Spanish_at_home_and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_Spanish_at_home_and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Spanish_at_home_and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_Spanish_at_home_and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home___Margin_of_Error_1',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home_and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home_and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home_and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_French__Haitian__or_Cajun_at_home_and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages___Margin_of_Error_1',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages_and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages_and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages_and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_German_or_other_West_Germanic_languages_and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages___Margin_of_Error_1',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages_and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages_and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages_and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_Russian__Polish__or_other_Slavic_languages_and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_other_Indo_European_languages',
 'Population_age_5__who_speaks_other_Indo_European_languages___Margin_of_Error_1',
 'Population_age_5__who_speaks_other_Indo_European_languages_and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_other_Indo_European_languages_and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_other_Indo_European_languages_and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_other_Indo_European_languages_and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Korean',
 'Population_age_5__who_speaks_Korean___Margin_of_Error_1',
 'Population_age_5__who_speaks_Korean_and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_Korean_and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Korean_and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_Korean_and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese_',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese____Margin_of_Error_1',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese__and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese__and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese__and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_Chinese__incl__Mandarin__Cantonese__and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Vietnamese',
 'Population_age_5__who_speaks_Vietnamese___Margin_of_Error_1',
 'Population_age_5__who_speaks_Vietnamese_and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_Vietnamese_and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Vietnamese_and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_Vietnamese_and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino_',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino____Margin_of_Error_1',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino__and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino__and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino__and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_Tagalog__incl__Filipino__and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages___Margin_of_Error_1',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages_and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages_and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages_and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_other_Asian_and_Pacific_Island_languages_and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Arabic',
 'Population_age_5__who_speaks_Arabic___Margin_of_Error_1',
 'Population_age_5__who_speaks_Arabic_and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_Arabic_and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_Arabic_and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_Arabic_and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_other_and_unspecified_languages',
 'Population_age_5__who_speaks_other_and_unspecified_languages___Margin_of_Error_1',
 'Population_age_5__who_speaks_other_and_unspecified_languages_and_speaks_English_very_well_1',
 'Population_age_5__who_speaks_other_and_unspecified_languages_and_speaks_English_very_well___Margin_of_Error_1',
 'Population_age_5__who_speaks_other_and_unspecified_languages_and_speaks_English_less_than_very_well_1',
 'Population_age_5__who_speaks_other_and_unspecified_languages_and_speaks_English_less_than_very_well___Margin_of_Error_1',
 'Percent_of_population_age_5__who_speaks_English_only',
 'Percent_of_population_age_5__who_speaks_English_only___Margin_of_Error_1',
 'Population_age_5___who_have_limited_English_ability',
 'Population_age_5___who_have_limited_English_ability___Margin_of_Error_1',
 'Percent_of_population_age_5___who_have_limited_English_ability',
 'Percent_of_population_age_5___who_have_limited_English_ability___Margin_of_Error_1',
 'Population_age_5__who_are_bilingual_in_English_and_any_other_language',
 'Population_age_5__who_are_bilingual_in_English_and_any_other_language___Margin_of_Error_1',
 'Percent_of_population_age_5__who_are_bilingual_in_English_and_any_other_language',
 'Percent_of_population_age_5__who_are_bilingual_in_English_and_any_other_language___Margin_of_Error_1',
 'school_district',
 'Shape_Length',
 'Shape_Area',
 'Shape_Length_1',
 'Shape_Area_1']

In [14]:
# filtering and renaming

df_languages = df_languages[[
    'Name',
    'State',
    'County',
    'school_district',
    'total_pop',
    'pop_spanish',
    'pop_french',
    'pop_indo_european',
    'pop_german',
    'pop_slavic',
    'pop_arabic',
    'pop_chinese',
    'pop_korean',
    'pop_vietnamese',
    'pop_tagalog',
    'pop_asian_others',
    'pop_unspecified',
    'pop_eng_only',
    'per_eng_only',
    'pop_bilingual_eng_another',
    'per_bilingual_eng_another',
    'pop_eng_limited_ability',
    'per_eng_limited_ability',
    'object_id',
    'TARGET_FID',
    'Geographic_Identifier___FIPS_Code',
    'Shape_Length',
    'Shape_Area'
]]

df_languages = df_languages.rename(
    columns={
    'school_district': 'School_district',
    'total_pop': 'Total',
    'pop_eng_only': 'Eng_only',
    'per_eng_only': 'Eng_only_per',
    'pop_indo_european': 'pop_indo_european_temp',
    'pop_bilingual_eng_another': 'Dual_language',
    'per_bilingual_eng_another': 'Dual_language_per',
    'pop_eng_limited_ability': 'Eng_limited_ability',
    'per_eng_limited_ability': 'Eng_limited_ability_per'        
    }
)

df_languages

,Name,State,County,School_district,Total,pop_spanish,pop_french,pop_indo_european_temp,pop_german,pop_slavic,...,Eng_only_per,Dual_language,Dual_language_per,Eng_limited_ability,Eng_limited_ability_per,object_id,TARGET_FID,Geographic_Identifier___FIPS_Code,Shape_Length,Shape_Area
0,Census Tract 1,New York,Bronx County,7,3538,428,0,26,0,0,...,86.3,193,5.5,292,8.3,1,69982,36005000100,26308.169405,1.497622e+07
1,Census Tract 2,New York,Bronx County,8,4916,2623,0,0,0,0,...,38.7,1789,36.4,1223,24.9,2,69983,36005000200,89484.192903,4.202148e+07
2,Census Tract 4,New York,Bronx County,8,6225,2588,10,0,27,12,...,57.6,1397,22.4,1241,19.9,3,69984,36005000400,89484.192903,4.202148e+07
3,Census Tract 16,New York,Bronx County,8,5779,2195,110,114,0,33,...,49.6,1817,31.4,1098,19.0,4,69985,36005001600,89484.192903,4.202148e+07
4,Census Tract 19.01,New York,Bronx County,7,2193,671,180,0,0,14,...,58.5,745,34.0,165,7.5,5,69986,36005001901,26308.169405,1.497622e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,Census Tract 303.01,New York,Richmond County,31,5611,1512,0,554,21,19,...,50.3,1744,31.1,1042,18.6,2320,74162,36085030301,172687.740576,2.586321e+08
2320,Census Tract 303.02,New York,Richmond County,31,6407,1434,118,698,0,139,...,44.1,2470,38.6,1110,17.3,2321,74163,36085030302,172687.740576,2.586321e+08
2321,Census Tract 319.01,New York,Richmond County,31,3611,1042,0,27,0,0,...,68.7,778,21.5,353,9.8,2322,74164,36085031901,172687.740576,2.586321e+08
2322,Census Tract 319.02,New York,Richmond County,31,4381,987,265,59,0,72,...,63.5,1203,27.5,394,9.0,2323,74165,36085031902,172687.740576,2.586321e+08
2323,Census Tract 323,New York,Richmond County,31,1023,310,50,2,0,0,...,54.4,305,29.8,161,15.7,2324,74166,36085032300,172687.740576,2.586321e+08

In [ ]:
# uniformizing pop languages groups with schools languages

df_languages['pop_indo_european'] = df_languages[['pop_indo_european_temp', 'pop_german']].sum(axis=1)
df_languages['pop_asian'] = df_languages[['pop_vietnamese', 'pop_tagalog', 'pop_asian_others']].sum(axis=1)

# dropping columns
df_languages = df_languages.drop(['pop_indo_european_temp', 'pop_german', 'pop_vietnamese', 'pop_tagalog', 'pop_asian_others'], axis=1)

df_languages

,Name,State,County,School_district,Total,pop_spanish,pop_french,pop_slavic,pop_arabic,pop_chinese,...,Dual_language_per,Eng_limited_ability,Eng_limited_ability_per,object_id,TARGET_FID,Geographic_Identifier___FIPS_Code,Shape_Length,Shape_Area,pop_indo_european,pop_asian
0,Census Tract 1,New York,Bronx County,7,3538,428,0,0,0,31,...,5.5,292,8.3,1,69982,36005000100,26308.169405,1.497622e+07,26,0
1,Census Tract 2,New York,Bronx County,8,4916,2623,0,0,233,0,...,36.4,1223,24.9,2,69983,36005000200,89484.192903,4.202148e+07,0,0
2,Census Tract 4,New York,Bronx County,8,6225,2588,10,12,1,0,...,22.4,1241,19.9,3,69984,36005000400,89484.192903,4.202148e+07,27,0
3,Census Tract 16,New York,Bronx County,8,5779,2195,110,33,0,0,...,31.4,1098,19.0,4,69985,36005001600,89484.192903,4.202148e+07,114,47
4,Census Tract 19.01,New York,Bronx County,7,2193,671,180,14,0,0,...,34.0,165,7.5,5,69986,36005001901,26308.169405,1.497622e+07,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,Census Tract 303.01,New York,Richmond County,31,5611,1512,0,19,129,290,...,31.1,1042,18.6,2320,74162,36085030301,172687.740576,2.586321e+08,575,245
2320,Census Tract 303.02,New York,Richmond County,31,6407,1434,118,139,631,122,...,38.6,1110,17.3,2321,74163,36085030302,172687.740576,2.586321e+08,698,183
2321,Census Tract 319.01,New York,Richmond County,31,3611,1042,0,0,0,29,...,21.5,353,9.8,2322,74164,36085031901,172687.740576,2.586321e+08,27,33
2322,Census Tract 319.02,New York,Richmond County,31,4381,987,265,72,23,72,...,27.5,394,9.0,2323,74165,36085031902,172687.740576,2.586321e+08,59,0
2323,Census Tract 323,New York,Richmond County,31,1023,310,50,0,58,25,...,29.8,161,15.7,2324,74166,36085032300,172687.740576,2.586321e+08,2,11

In [16]:
# joining datasets 
# school districts and languages spoken at home 

df_join = df_languages.merge(
    df_district_pivot, 
    left_on='School_district', 
    right_on='district', 
    how='left'
)

df_join

,Name,State,County,School_district,Total,pop_spanish,pop_french,pop_slavic,pop_arabic,pop_chinese,...,sch_arabic,sch_chinese,sch_french,sch_indo_european,sch_korean,sch_other,sch_slavic,sch_spanish,sch_asian,sch_unspecified
0,Census Tract 1,New York,Bronx County,7,3538,428,0,0,0,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0
1,Census Tract 2,New York,Bronx County,8,4916,2623,0,0,233,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
2,Census Tract 4,New York,Bronx County,8,6225,2588,10,12,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
3,Census Tract 16,New York,Bronx County,8,5779,2195,110,33,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
4,Census Tract 19.01,New York,Bronx County,7,2193,671,180,14,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,Census Tract 303.01,New York,Richmond County,31,5611,1512,0,19,129,290,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0
2320,Census Tract 303.02,New York,Richmond County,31,6407,1434,118,139,631,122,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0
2321,Census Tract 319.01,New York,Richmond County,31,3611,1042,0,0,0,29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0
2322,Census Tract 319.02,New York,Richmond County,31,4381,987,265,72,23,72,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0
2323,Census Tract 323,New York,Richmond County,31,1023,310,50,0,58,25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0

In [17]:
df_join.columns.tolist()

['Name',
 'State',
 'County',
 'School_district',
 'Total',
 'pop_spanish',
 'pop_french',
 'pop_slavic',
 'pop_arabic',
 'pop_chinese',
 'pop_korean',
 'pop_unspecified',
 'Eng_only',
 'Eng_only_per',
 'Dual_language',
 'Dual_language_per',
 'Eng_limited_ability',
 'Eng_limited_ability_per',
 'object_id',
 'TARGET_FID',
 'Geographic_Identifier___FIPS_Code',
 'Shape_Length',
 'Shape_Area',
 'pop_indo_european',
 'pop_asian',
 'sch_arabic',
 'sch_chinese',
 'sch_french',
 'sch_indo_european',
 'sch_korean',
 'sch_other',
 'sch_slavic',
 'sch_spanish',
 'sch_asian',
 'sch_unspecified']

In [18]:
# creating a variable with the largest non-English native population for each tract

largest = [
    col for col in df_join.columns 
    if col.startswith('pop_')
]

# largest language
df_join['largest_language'] = df_join[largest].idxmax(axis=1)
df_join['largest_language'] = df_join['largest_language'].str.replace('pop_', '')

# largest value
df_join['largest_value'] = df_join[largest].max(axis=1)

# percentage
df_join['largest_per'] = ((df_join['largest_value'] / df_join['Total']) * 100).round(2)

df_join

,Name,State,County,School_district,Total,pop_spanish,pop_french,pop_slavic,pop_arabic,pop_chinese,...,sch_indo_european,sch_korean,sch_other,sch_slavic,sch_spanish,sch_asian,sch_unspecified,largest_language,largest_value,largest_per
0,Census Tract 1,New York,Bronx County,7,3538,428,0,0,0,31,...,0.0,0.0,0.0,0.0,14.0,0.0,0.0,spanish,428,12.10
1,Census Tract 2,New York,Bronx County,8,4916,2623,0,0,233,0,...,0.0,0.0,0.0,0.0,7.0,0.0,0.0,spanish,2623,53.36
2,Census Tract 4,New York,Bronx County,8,6225,2588,10,12,1,0,...,0.0,0.0,0.0,0.0,7.0,0.0,0.0,spanish,2588,41.57
3,Census Tract 16,New York,Bronx County,8,5779,2195,110,33,0,0,...,0.0,0.0,0.0,0.0,7.0,0.0,0.0,spanish,2195,37.98
4,Census Tract 19.01,New York,Bronx County,7,2193,671,180,14,0,0,...,0.0,0.0,0.0,0.0,14.0,0.0,0.0,spanish,671,30.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,Census Tract 303.01,New York,Richmond County,31,5611,1512,0,19,129,290,...,0.0,0.0,0.0,0.0,14.0,0.0,0.0,spanish,1512,26.95
2320,Census Tract 303.02,New York,Richmond County,31,6407,1434,118,139,631,122,...,0.0,0.0,0.0,0.0,14.0,0.0,0.0,spanish,1434,22.38
2321,Census Tract 319.01,New York,Richmond County,31,3611,1042,0,0,0,29,...,0.0,0.0,0.0,0.0,14.0,0.0,0.0,spanish,1042,28.86
2322,Census Tract 319.02,New York,Richmond County,31,4381,987,265,72,23,72,...,0.0,0.0,0.0,0.0,14.0,0.0,0.0,spanish,987,22.53
2323,Census Tract 323,New York,Richmond County,31,1023,310,50,0,58,25,...,0.0,0.0,0.0,0.0,14.0,0.0,0.0,spanish,310,30.30

In [19]:
# creating variables with the proportion of population per school per language

languages = ['spanish', 'french', 'indo_european', 'slavic', 'arabic', 'chinese', 'korean', 'asian', 'unspecified']

for l in languages:
    df_join[f'prop_{l}'] = df_join[f'pop_{l}'] / df_join[f'sch_{l}'].replace(0, np.nan)
    df_join[f'prop_{l}'] = df_join[f'prop_{l}'].replace([np.inf, -np.inf], np.nan).fillna(0).round(2)

df_join

,Name,State,County,School_district,Total,pop_spanish,pop_french,pop_slavic,pop_arabic,pop_chinese,...,largest_per,prop_spanish,prop_french,prop_indo_european,prop_slavic,prop_arabic,prop_chinese,prop_korean,prop_asian,prop_unspecified
0,Census Tract 1,New York,Bronx County,7,3538,428,0,0,0,31,...,12.10,30.57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Census Tract 2,New York,Bronx County,8,4916,2623,0,0,233,0,...,53.36,374.71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Census Tract 4,New York,Bronx County,8,6225,2588,10,12,1,0,...,41.57,369.71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Census Tract 16,New York,Bronx County,8,5779,2195,110,33,0,0,...,37.98,313.57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Census Tract 19.01,New York,Bronx County,7,2193,671,180,14,0,0,...,30.60,47.93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,Census Tract 303.01,New York,Richmond County,31,5611,1512,0,19,129,290,...,26.95,108.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2320,Census Tract 303.02,New York,Richmond County,31,6407,1434,118,139,631,122,...,22.38,102.43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2321,Census Tract 319.01,New York,Richmond County,31,3611,1042,0,0,0,29,...,28.86,74.43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2322,Census Tract 319.02,New York,Richmond County,31,4381,987,265,72,23,72,...,22.53,70.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2323,Census Tract 323,New York,Richmond County,31,1023,310,50,0,58,25,...,30.30,22.14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
# creating variable for the language with most schools per tract 

most = [
    col for col in df_join.columns 
    if col.startswith('sch_')
]

# more frequent school language
df_join['most_school'] = df_join[most].idxmax(axis=1)
df_join['most_school'] = df_join['most_school'].str.replace('sch_', '')

# value
df_join['most_value'] = df_join[most].max(axis=1)

df_join

/var/folders/dz/qbfft_n92gx2ky_gxnc3q9_h0000gn/T/ipykernel_7906/2593286210.py:9: FutureWarning: The behavior of DataFrame.idxmax with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  df_join['most_school'] = df_join[most].idxmax(axis=1)

,Name,State,County,School_district,Total,pop_spanish,pop_french,pop_slavic,pop_arabic,pop_chinese,...,prop_french,prop_indo_european,prop_slavic,prop_arabic,prop_chinese,prop_korean,prop_asian,prop_unspecified,most_school,most_value
0,Census Tract 1,New York,Bronx County,7,3538,428,0,0,0,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0
1,Census Tract 2,New York,Bronx County,8,4916,2623,0,0,233,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spanish,7.0
2,Census Tract 4,New York,Bronx County,8,6225,2588,10,12,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spanish,7.0
3,Census Tract 16,New York,Bronx County,8,5779,2195,110,33,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spanish,7.0
4,Census Tract 19.01,New York,Bronx County,7,2193,671,180,14,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,Census Tract 303.01,New York,Richmond County,31,5611,1512,0,19,129,290,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0
2320,Census Tract 303.02,New York,Richmond County,31,6407,1434,118,139,631,122,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0
2321,Census Tract 319.01,New York,Richmond County,31,3611,1042,0,0,0,29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0
2322,Census Tract 319.02,New York,Richmond County,31,4381,987,265,72,23,72,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0
2323,Census Tract 323,New York,Richmond County,31,1023,310,50,0,58,25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0

In [21]:
# creating variables for the language with lowest proportion population per school 

prop_l = [
    col for col in df_join.columns 
    if col.startswith('prop_')
]

# # more frequent school language
# df_join['prop_lower_language'] = df_join[prop_l].idxmin(axis=1)

# # value
# df_join['prop_lower'] = df_join[prop_l].min(axis=1)

# more frequent school language
df_join['prop_lower_language_nan'] = df_join[prop_l].replace(0, float('nan')).idxmin(axis=1)

# value
df_join['prop_lower_value_nan'] = df_join[prop_l].replace(0, float('nan')).min(axis=1)


# polishing 
df_join['prop_lower_language_nan'] = df_join['prop_lower_language_nan'].str.replace('prop_', '')

df_join

/var/folders/dz/qbfft_n92gx2ky_gxnc3q9_h0000gn/T/ipykernel_7906/1676501833.py:15: FutureWarning: The behavior of DataFrame.idxmin with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  df_join['prop_lower_language_nan'] = df_join[prop_l].replace(0, float('nan')).idxmin(axis=1)

,Name,State,County,School_district,Total,pop_spanish,pop_french,pop_slavic,pop_arabic,pop_chinese,...,prop_slavic,prop_arabic,prop_chinese,prop_korean,prop_asian,prop_unspecified,most_school,most_value,prop_lower_language_nan,prop_lower_value_nan
0,Census Tract 1,New York,Bronx County,7,3538,428,0,0,0,31,...,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,30.57
1,Census Tract 2,New York,Bronx County,8,4916,2623,0,0,233,0,...,0.0,0.0,0.0,0.0,0.0,0.0,spanish,7.0,spanish,374.71
2,Census Tract 4,New York,Bronx County,8,6225,2588,10,12,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,spanish,7.0,spanish,369.71
3,Census Tract 16,New York,Bronx County,8,5779,2195,110,33,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,spanish,7.0,spanish,313.57
4,Census Tract 19.01,New York,Bronx County,7,2193,671,180,14,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,47.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,Census Tract 303.01,New York,Richmond County,31,5611,1512,0,19,129,290,...,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,108.00
2320,Census Tract 303.02,New York,Richmond County,31,6407,1434,118,139,631,122,...,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,102.43
2321,Census Tract 319.01,New York,Richmond County,31,3611,1042,0,0,0,29,...,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,74.43
2322,Census Tract 319.02,New York,Richmond County,31,4381,987,265,72,23,72,...,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,70.50
2323,Census Tract 323,New York,Richmond County,31,1023,310,50,0,58,25,...,0.0,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,22.14

In [22]:
# creating one variable for the proportion of population per school that attends the major language
# relating variables "largest-language" and "prop_"

df_join['prop_major_language_value'] = df_join.apply(
    lambda row: row['prop_' + row['largest_language']], 
    axis=1
)

# # eliminating the results 0 that represents actualy 0 schools
# # keeping the results 0 that represents a tract that has dual language program even with no population speaking the respective language
# # relating columns "prop_major_language_value" and "most_value"
# df_join.loc[df_join['most_value'].isna(), 'prop_major_language_value'] = 999999

df_join

,Name,State,County,School_district,Total,pop_spanish,pop_french,pop_slavic,pop_arabic,pop_chinese,...,prop_arabic,prop_chinese,prop_korean,prop_asian,prop_unspecified,most_school,most_value,prop_lower_language_nan,prop_lower_value_nan,prop_major_language_value
0,Census Tract 1,New York,Bronx County,7,3538,428,0,0,0,31,...,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,30.57,30.57
1,Census Tract 2,New York,Bronx County,8,4916,2623,0,0,233,0,...,0.0,0.0,0.0,0.0,0.0,spanish,7.0,spanish,374.71,374.71
2,Census Tract 4,New York,Bronx County,8,6225,2588,10,12,1,0,...,0.0,0.0,0.0,0.0,0.0,spanish,7.0,spanish,369.71,369.71
3,Census Tract 16,New York,Bronx County,8,5779,2195,110,33,0,0,...,0.0,0.0,0.0,0.0,0.0,spanish,7.0,spanish,313.57,313.57
4,Census Tract 19.01,New York,Bronx County,7,2193,671,180,14,0,0,...,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,47.93,47.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,Census Tract 303.01,New York,Richmond County,31,5611,1512,0,19,129,290,...,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,108.00,108.00
2320,Census Tract 303.02,New York,Richmond County,31,6407,1434,118,139,631,122,...,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,102.43,102.43
2321,Census Tract 319.01,New York,Richmond County,31,3611,1042,0,0,0,29,...,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,74.43,74.43
2322,Census Tract 319.02,New York,Richmond County,31,4381,987,265,72,23,72,...,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,70.50,70.50
2323,Census Tract 323,New York,Richmond County,31,1023,310,50,0,58,25,...,0.0,0.0,0.0,0.0,0.0,spanish,14.0,spanish,22.14,22.14

In [ ]:
# verifying

df_join["prop_major_language_value"].sort_values(ascending=False)

251     2532.0
163     2303.0
347     2301.0
130     2246.0
681     2135.5
         ...
956        0.0
955        0.0
954        0.0
1805       0.0
902        0.0
Name: prop_major_language_value, Length: 2324, dtype: float64

In [24]:
# downloading dataframe to create a map in ArcGIS Pro

df_join.to_csv("languages-joined-9.csv", index=False)

In [ ]:
# in ArcGIS Pro

# upload dataset created (languages-joined-9.csv)
# join dataset again with its own previous version
# create layers for each variable "prop_" and determine a color palette
# export in .svg

# layout map in figma
# export in pdf